openapi: 3.0.0
info:
  title: Meraki Dashboard API
  description: >
    The Cisco Meraki Dashboard API is a modern REST API based on the OpenAPI specification.


    > Date: 04 March, 2020

    >

    > [What's New](https://meraki.io/whats-new/)


    ---


    [API Documentation](https://meraki.io/api)


    [Community Support](https://meraki.io/community)


    [Meraki Homepage](https://www.meraki.com)
  contact: {}
  version: '0.9.0'
servers:
- url: https://api.meraki.com/api/v0
  variables: {}
paths:
  /organizations/{organizationId}/apiRequests:
    get:
      tags:
      - API usage
      summary: getOrganizationApiRequests
      description: List the API requests made by an organization
      operationId: getOrganizationApiRequests
      parameters:
      - name: organizationId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: t0
        in: query
        description: The beginning of the timespan for the data. The maximum lookback period is 31 days from today.
        style: form
        explode: true
        schema:
          type: string
      - name: t1
        in: query
        description: The end of the timespan for the data. t1 can be a maximum of 31 days after t0.
        style: form
        explode: true
        schema:
          type: string
      - name: timespan
        in: query
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 31 days.
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: perPage
        in: query
        description: The number of entries per page returned. Acceptable range is 3 - 1000. Default is 50.
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: startingAfter
        in: query
        description: A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        style: form
        explode: true
        schema:
          type: string
      - name: endingBefore
        in: query
        description: A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        style: form
        explode: true
        schema:
          type: string
      - name: adminId
        in: query
        description: Filter the results by the ID of the admin who made the API requests
        style: form
        explode: true
        schema:
          type: string
      - name: path
        in: query
        description: Filter the results by the path of the API requests
        style: form
        explode: true
        schema:
          type: string
      - name: method
        in: query
        description: Filter the results by the method of the API requests (must be 'GET', 'PUT', 'POST' or 'DELETE')
        style: form
        explode: true
        schema:
          type: string
      - name: responseCode
        in: query
        description: Filter the results by the response code of the API requests
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: sourceIp
        in: query
        description: Filter the results by the IP address of the originating API request
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  [

                    {

                      "adminId": "212406",

                      "method": "GET",

                      "host": "api.meraki.com",

                      "path": "/api/v0/organizations/33349/apiRequests",

                      "queryString": "timespan=604800",

                      "userAgent": "PostmanRuntime/7.6.0",

                      "ts": "2019-02-20T17:31:23Z",

                      "responseCode": 200,

                      "sourceIp": "123.123.123.1"

                    }

                  ]
              example: >-
                [

                  {

                    "adminId": "212406",

                    "method": "GET",

                    "host": "api.meraki.com",

                    "path": "/api/v0/organizations/33349/apiRequests",

                    "queryString": "timespan=604800",

                    "userAgent": "PostmanRuntime/7.6.0",

                    "ts": "2019-02-20T17:31:23Z",

                    "responseCode": 200,

                    "sourceIp": "123.123.123.1"

                  }

                ]
      deprecated: false
  /organizations/{organizationId}/apiRequests/overview:
    get:
      tags:
      - API usage
      summary: getOrganizationApiRequestsOverview
      description: Return an aggregated overview of API requests data
      operationId: getOrganizationApiRequestsOverview
      parameters:
      - name: organizationId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: t0
        in: query
        description: The beginning of the timespan for the data. The maximum lookback period is 31 days from today.
        style: form
        explode: true
        schema:
          type: string
      - name: t1
        in: query
        description: The end of the timespan for the data. t1 can be a maximum of 31 days after t0.
        style: form
        explode: true
        schema:
          type: string
      - name: timespan
        in: query
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 31 days.
        style: form
        explode: true
        schema:
          type: number
          format: double
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "responseCodeCounts": {

                      "200": 50000,

                      "201": 4000,

                      "204": 1000,

                      "400": 3500,

                      "404": 1500,

                      "429": 10000

                    }

                  }
              example: >-
                {

                  "responseCodeCounts": {

                    "200": 50000,

                    "201": 4000,

                    "204": 1000,

                    "400": 3500,

                    "404": 1500,

                    "429": 10000

                  }

                }
      deprecated: false
  /organizations/{organizationId}/actionBatches:
    post:
      tags:
      - Action batches
      summary: createOrganizationActionBatch
      description: Create an action batch
      operationId: createOrganizationActionBatch
      parameters:
      - name: organizationId
        in: path
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createOrganizationActionBatch'
            example:
              confirmed: true
              synchronous: false
              actions:
              - resource: /devices/QXXX-XXXX-XXXX/switchPorts/3
                operation: update
                body:
                  enabled: false
        required: true
        x-send-file-in-body: false
      responses:
        201:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "id": "123",

                    "organizationId": "2930418",

                    "confirmed": true,

                    "synchronous": false,

                    "status": {

                      "completed": false,

                      "failed": false,

                      "errors": []

                    },

                    "actions": [

                      {

                        "resource": "/devices/QXXX-XXXX-XXXX/switchPorts/3",

                        "operation": "update",

                        "body": {

                          "enabled": false

                        }

                      }

                    ]

                  }
              example: >-
                {

                  "id": "123",

                  "organizationId": "2930418",

                  "confirmed": true,

                  "synchronous": false,

                  "status": {

                    "completed": false,

                    "failed": false,

                    "errors": []

                  },

                  "actions": [

                    {

                      "resource": "/devices/QXXX-XXXX-XXXX/switchPorts/3",

                      "operation": "update",

                      "body": {

                        "enabled": false

                      }

                    }

                  ]

                }
      deprecated: false
    get:
      tags:
      - Action batches
      summary: getOrganizationActionBatches
      description: Return the list of action batches in the organization
      operationId: getOrganizationActionBatches
      parameters:
      - name: organizationId
        in: path
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  [

                    {

                      "id": "123",

                      "organizationId": "2930418",

                      "confirmed": true,

                      "synchronous": false,

                      "status": {

                        "completed": false,

                        "failed": false,

                        "errors": []

                      },

                      "actions": [

                        {

                          "resource": "/devices/QXXX-XXXX-XXXX/switchPorts/3",

                          "operation": "update",

                          "body": {

                            "enabled": false

                          }

                        }

                      ]

                    }

                  ]
              example: >-
                [

                  {

                    "id": "123",

                    "organizationId": "2930418",

                    "confirmed": true,

                    "synchronous": false,

                    "status": {

                      "completed": false,

                      "failed": false,

                      "errors": []

                    },

                    "actions": [

                      {

                        "resource": "/devices/QXXX-XXXX-XXXX/switchPorts/3",

                        "operation": "update",

                        "body": {

                          "enabled": false

                        }

                      }

                    ]

                  }

                ]
      deprecated: false
  /organizations/{organizationId}/actionBatches/{actionBatchId}:
    get:
      tags:
      - Action batches
      summary: getOrganizationActionBatch
      description: Return an action batch
      operationId: getOrganizationActionBatch
      parameters:
      - name: organizationId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: actionBatchId
        in: path
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "id": "123",

                    "organizationId": "2930418",

                    "confirmed": true,

                    "synchronous": false,

                    "status": {

                      "completed": false,

                      "failed": false,

                      "errors": []

                    },

                    "actions": [

                      {

                        "resource": "/devices/QXXX-XXXX-XXXX/switchPorts/3",

                        "operation": "update",

                        "body": {

                          "enabled": false

                        }

                      }

                    ]

                  }
              example: >-
                {

                  "id": "123",

                  "organizationId": "2930418",

                  "confirmed": true,

                  "synchronous": false,

                  "status": {

                    "completed": false,

                    "failed": false,

                    "errors": []

                  },

                  "actions": [

                    {

                      "resource": "/devices/QXXX-XXXX-XXXX/switchPorts/3",

                      "operation": "update",

                      "body": {

                        "enabled": false

                      }

                    }

                  ]

                }
      deprecated: false
    put:
      tags:
      - Action batches
      summary: updateOrganizationActionBatch
      description: Update an action batch
      operationId: updateOrganizationActionBatch
      parameters:
      - name: organizationId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: actionBatchId
        in: path
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateOrganizationActionBatch'
            example:
              confirmed: true
              synchronous: false
        required: false
        x-send-file-in-body: false
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "id": "123",

                    "organizationId": "2930418",

                    "confirmed": true,

                    "synchronous": false,

                    "status": {

                      "completed": false,

                      "failed": false,

                      "errors": []

                    },

                    "actions": [

                      {

                        "resource": "/devices/QXXX-XXXX-XXXX/switchPorts/3",

                        "operation": "update",

                        "body": {

                          "enabled": false

                        }

                      }

                    ]

                  }
              example: >-
                {

                  "id": "123",

                  "organizationId": "2930418",

                  "confirmed": true,

                  "synchronous": false,

                  "status": {

                    "completed": false,

                    "failed": false,

                    "errors": []

                  },

                  "actions": [

                    {

                      "resource": "/devices/QXXX-XXXX-XXXX/switchPorts/3",

                      "operation": "update",

                      "body": {

                        "enabled": false

                      }

                    }

                  ]

                }
      deprecated: false
    delete:
      tags:
      - Action batches
      summary: deleteOrganizationActionBatch
      description: Delete an action batch
      operationId: deleteOrganizationActionBatch
      parameters:
      - name: organizationId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: actionBatchId
        in: path
        required: true
        style: simple
        schema:
          type: string
      responses:
        204:
          description: Successful operation
          headers: {}
      deprecated: false
  /organizations/{organizationId}/admins:
    post:
      tags:
      - Admins
      summary: createOrganizationAdmin
      description: Create a new dashboard administrator
      operationId: createOrganizationAdmin
      parameters:
      - name: organizationId
        in: path
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createOrganizationAdmin'
            example:
              name: Miles Meraki
              email: miles@meraki.com
              orgAccess: none
              tags:
              - tag: west
                access: read-only
        required: true
        x-send-file-in-body: false
      responses:
        201:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "id": "212406",

                    "name": "Miles Meraki",

                    "email": "miles@meraki.com",

                    "orgAccess": "none",

                    "accountStatus": "ok",

                    "twoFactorAuthEnabled": false,

                    "hasApiKey": true,

                    "lastActive": "2019-01-28 14:58:56 -0800",

                    "tags": [

                      {

                        "tag": "west",

                        "access": "read-only"

                      }

                    ],

                    "networks": [

                      {

                        "id": "N_24329156",

                        "access": "full"

                      }

                    ]

                  }
              example: >-
                {

                  "id": "212406",

                  "name": "Miles Meraki",

                  "email": "miles@meraki.com",

                  "orgAccess": "none",

                  "accountStatus": "ok",

                  "twoFactorAuthEnabled": false,

                  "hasApiKey": true,

                  "lastActive": "2019-01-28 14:58:56 -0800",

                  "tags": [

                    {

                      "tag": "west",

                      "access": "read-only"

                    }

                  ],

                  "networks": [

                    {

                      "id": "N_24329156",

                      "access": "full"

                    }

                  ]

                }
      deprecated: false
    get:
      tags:
      - Admins
      summary: getOrganizationAdmins
      description: List the dashboard administrators in this organization
      operationId: getOrganizationAdmins
      parameters:
      - name: organizationId
        in: path
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  [

                    {

                      "id": "212406",

                      "name": "Miles Meraki",

                      "email": "miles@meraki.com",

                      "orgAccess": "none",

                      "accountStatus": "ok",

                      "twoFactorAuthEnabled": false,

                      "hasApiKey": true,

                      "lastActive": "2019-01-28 14:58:56 -0800",

                      "tags": [

                        {

                          "tag": "west",

                          "access": "read-only"

                        }

                      ],

                      "networks": [

                        {

                          "id": "N_24329156",

                          "access": "full"

                        }

                      ]

                    }

                  ]
              example: >-
                [

                  {

                    "id": "212406",

                    "name": "Miles Meraki",

                    "email": "miles@meraki.com",

                    "orgAccess": "none",

                    "accountStatus": "ok",

                    "twoFactorAuthEnabled": false,

                    "hasApiKey": true,

                    "lastActive": "2019-01-28 14:58:56 -0800",

                    "tags": [

                      {

                        "tag": "west",

                        "access": "read-only"

                      }

                    ],

                    "networks": [

                      {

                        "id": "N_24329156",

                        "access": "full"

                      }

                    ]

                  }

                ]
      deprecated: false
  /organizations/{organizationId}/admins/{id}:
    delete:
      tags:
      - Admins
      summary: deleteOrganizationAdmin
      description: Revoke all access for a dashboard administrator within this organization
      operationId: deleteOrganizationAdmin
      parameters:
      - name: organizationId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
      responses:
        204:
          description: Successful operation
          headers: {}
      deprecated: false
    put:
      tags:
      - Admins
      summary: updateOrganizationAdmin
      description: Update an administrator
      operationId: updateOrganizationAdmin
      parameters:
      - name: organizationId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateOrganizationAdmin'
            example:
              name: Miles Meraki
              email: miles@meraki.com
              orgAccess: none
              tags:
              - tag: west
                access: read-only
        required: false
        x-send-file-in-body: false
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "id": "212406",

                    "name": "Miles Meraki",

                    "email": "miles@meraki.com",

                    "orgAccess": "none",

                    "accountStatus": "ok",

                    "twoFactorAuthEnabled": false,

                    "hasApiKey": true,

                    "lastActive": "2019-01-28 14:58:56 -0800",

                    "tags": [

                      {

                        "tag": "west",

                        "access": "read-only"

                      }

                    ],

                    "networks": [

                      {

                        "id": "N_24329156",

                        "access": "full"

                      }

                    ]

                  }
              example: >-
                {

                  "id": "212406",

                  "name": "Miles Meraki",

                  "email": "miles@meraki.com",

                  "orgAccess": "none",

                  "accountStatus": "ok",

                  "twoFactorAuthEnabled": false,

                  "hasApiKey": true,

                  "lastActive": "2019-01-28 14:58:56 -0800",

                  "tags": [

                    {

                      "tag": "west",

                      "access": "read-only"

                    }

                  ],

                  "networks": [

                    {

                      "id": "N_24329156",

                      "access": "full"

                    }

                  ]

                }
      deprecated: false
  /networks/{networkId}/alertSettings:
    put:
      tags:
      - Alert settings
      summary: updateNetworkAlertSettings
      description: Update the alert configuration for this network
      operationId: updateNetworkAlertSettings
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateNetworkAlertSettings'
            example:
              defaultDestinations:
                emails:
                - miles@meraki.com
                allAdmins: true
                snmp: true
              alerts:
              - type: gatewayDown
                enabled: true
                alertDestinations:
                  emails:
                  - miles@meraki.com
                  allAdmins: false
                  snmp: false
                filters:
                  timeout: 60
        required: false
        x-send-file-in-body: false
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "defaultDestinations": {

                      "emails": [

                        "miles@meraki.com"

                      ],

                      "allAdmins": true,

                      "snmp": true

                    },

                    "alerts": [

                      {

                        "type": "gatewayDown",

                        "enabled": true,

                        "alertDestinations": {

                          "emails": [

                            "miles@meraki.com"

                          ],

                          "allAdmins": false,

                          "snmp": false

                        },

                        "filters": {

                          "timeout": 60

                        }

                      }

                    ]

                  }
              example: >-
                {

                  "defaultDestinations": {

                    "emails": [

                      "miles@meraki.com"

                    ],

                    "allAdmins": true,

                    "snmp": true

                  },

                  "alerts": [

                    {

                      "type": "gatewayDown",

                      "enabled": true,

                      "alertDestinations": {

                        "emails": [

                          "miles@meraki.com"

                        ],

                        "allAdmins": false,

                        "snmp": false

                      },

                      "filters": {

                        "timeout": 60

                      }

                    }

                  ]

                }
      deprecated: false
    get:
      tags:
      - Alert settings
      summary: getNetworkAlertSettings
      description: Return the alert configuration for this network
      operationId: getNetworkAlertSettings
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "defaultDestinations": {

                      "emails": [

                        "miles@meraki.com"

                      ],

                      "allAdmins": true,

                      "snmp": true

                    },

                    "alerts": [

                      {

                        "type": "gatewayDown",

                        "enabled": true,

                        "alertDestinations": {

                          "emails": [

                            "miles@meraki.com"

                          ],

                          "allAdmins": false,

                          "snmp": false

                        },

                        "filters": {

                          "timeout": 60

                        }

                      }

                    ]

                  }
              example: >-
                {

                  "defaultDestinations": {

                    "emails": [

                      "miles@meraki.com"

                    ],

                    "allAdmins": true,

                    "snmp": true

                  },

                  "alerts": [

                    {

                      "type": "gatewayDown",

                      "enabled": true,

                      "alertDestinations": {

                        "emails": [

                          "miles@meraki.com"

                        ],

                        "allAdmins": false,

                        "snmp": false

                      },

                      "filters": {

                        "timeout": 60

                      }

                    }

                  ]

                }
      deprecated: false
  /networks/{networkId}/bluetoothClients:
    get:
      tags:
      - Bluetooth clients
      summary: getNetworkBluetoothClients
      description: List the Bluetooth clients seen by APs in this network
      operationId: getNetworkBluetoothClients
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: t0
        in: query
        description: The beginning of the timespan for the data. The maximum lookback period is 7 days from today.
        style: form
        explode: true
        schema:
          type: string
      - name: timespan
        in: query
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 7 days. The default is 1 day.
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: perPage
        in: query
        description: The number of entries per page returned. Acceptable range is 5 - 1000. Default is 10.
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: startingAfter
        in: query
        description: A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        style: form
        explode: true
        schema:
          type: string
      - name: endingBefore
        in: query
        description: A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        style: form
        explode: true
        schema:
          type: string
      - name: includeConnectivityHistory
        in: query
        description: Include the connectivity history for this client
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  [

                    {

                      "id": "1284392014819",

                      "mac": "22:33:44:55:66:77",

                      "networkId": "N_24329156",

                      "name": "Miles's phone",

                      "deviceName": "Bose QuietComfort 35",

                      "manufacturer": "Bose",

                      "lastSeen": 1526087474,

                      "seenByDeviceMac": "00:11:22:33:44:55",

                      "inSightAlert": false,

                      "outOfSightAlert": false,

                      "tags": [

                        "tag1",

                        "tag2"

                      ]

                    }

                  ]
              example: >-
                [

                  {

                    "id": "1284392014819",

                    "mac": "22:33:44:55:66:77",

                    "networkId": "N_24329156",

                    "name": "Miles's phone",

                    "deviceName": "Bose QuietComfort 35",

                    "manufacturer": "Bose",

                    "lastSeen": 1526087474,

                    "seenByDeviceMac": "00:11:22:33:44:55",

                    "inSightAlert": false,

                    "outOfSightAlert": false,

                    "tags": [

                      "tag1",

                      "tag2"

                    ]

                  }

                ]
      deprecated: false
  /networks/{networkId}/bluetoothClients/{bluetoothClientId}:
    get:
      tags:
      - Bluetooth clients
      summary: getNetworkBluetoothClient
      description: Return a Bluetooth client. Bluetooth clients can be identified by their ID or their MAC.
      operationId: getNetworkBluetoothClient
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: bluetoothClientId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: includeConnectivityHistory
        in: query
        description: Include the connectivity history for this client
        style: form
        explode: true
        schema:
          type: boolean
      - name: connectivityHistoryTimespan
        in: query
        description: The timespan, in seconds, for the connectivityHistory data. By default 1 day, 86400, will be used.
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "id": "1284392014819",

                    "mac": "22:33:44:55:66:77",

                    "networkId": "N_24329156",

                    "name": "Miles's phone",

                    "deviceName": "Bose QuietComfort 35",

                    "manufacturer": "Bose",

                    "lastSeen": 1526087474,

                    "seenByDeviceMac": "00:11:22:33:44:55",

                    "inSightAlert": false,

                    "outOfSightAlert": false,

                    "tags": [

                      "tag1",

                      "tag2"

                    ]

                  }
              example: >-
                {

                  "id": "1284392014819",

                  "mac": "22:33:44:55:66:77",

                  "networkId": "N_24329156",

                  "name": "Miles's phone",

                  "deviceName": "Bose QuietComfort 35",

                  "manufacturer": "Bose",

                  "lastSeen": 1526087474,

                  "seenByDeviceMac": "00:11:22:33:44:55",

                  "inSightAlert": false,

                  "outOfSightAlert": false,

                  "tags": [

                    "tag1",

                    "tag2"

                  ]

                }
      deprecated: false
  /devices/{serial}/wireless/bluetooth/settings:
    put:
      tags:
      - Bluetooth settings
      summary: updateDeviceWirelessBluetoothSettings
      description: Update the bluetooth settings for a wireless device
      operationId: updateDeviceWirelessBluetoothSettings
      parameters:
      - name: serial
        in: path
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceWirelessBluetoothSettings'
            example:
              uuid: 00000000-0000-0000-000-000000000000
              major: 13
              minor: 125
        required: false
        x-send-file-in-body: false
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "uuid": "00000000-0000-0000-000-000000000000",

                    "major": 13,

                    "minor": 125

                  }
              example: >-
                {

                  "uuid": "00000000-0000-0000-000-000000000000",

                  "major": 13,

                  "minor": 125

                }
      deprecated: false
    get:
      tags:
      - Bluetooth settings
      summary: getDeviceWirelessBluetoothSettings
      description: Return the bluetooth settings for a wireless device
      operationId: getDeviceWirelessBluetoothSettings
      parameters:
      - name: serial
        in: path
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "uuid": "00000000-0000-0000-000-000000000000",

                    "major": 13,

                    "minor": 125

                  }
              example: >-
                {

                  "uuid": "00000000-0000-0000-000-000000000000",

                  "major": 13,

                  "minor": 125

                }
      deprecated: false
  /networks/{networkId}/bluetoothSettings:
    put:
      tags:
      - Bluetooth settings
      summary: updateNetworkBluetoothSettings
      description: Update the Bluetooth settings for a network. See the docs page for <a href="https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)">Bluetooth settings</a>.
      operationId: updateNetworkBluetoothSettings
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateNetworkBluetoothSettings'
            example:
              scanningEnabled: true
              advertisingEnabled: true
              uuid: 00000000-0000-0000-000-000000000000
              majorMinorAssignmentMode: Non-unique
              major: 1
        required: false
        x-send-file-in-body: false
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "scanningEnabled": true,

                    "advertisingEnabled": true,

                    "uuid": "00000000-0000-0000-000-000000000000",

                    "majorMinorAssignmentMode": "Non-unique",

                    "major": 1

                  }
              example: >-
                {

                  "scanningEnabled": true,

                  "advertisingEnabled": true,

                  "uuid": "00000000-0000-0000-000-000000000000",

                  "majorMinorAssignmentMode": "Non-unique",

                  "major": 1

                }
      deprecated: false
    get:
      tags:
      - Bluetooth settings
      summary: getNetworkBluetoothSettings
      description: Return the Bluetooth settings for a network. <a href="https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)">Bluetooth settings</a> must be enabled on the network.
      operationId: getNetworkBluetoothSettings
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "scanningEnabled": true,

                    "advertisingEnabled": true,

                    "uuid": "00000000-0000-0000-000-000000000000",

                    "majorMinorAssignmentMode": "Non-unique",

                    "major": 1

                  }
              example: >-
                {

                  "scanningEnabled": true,

                  "advertisingEnabled": true,

                  "uuid": "00000000-0000-0000-000-000000000000",

                  "majorMinorAssignmentMode": "Non-unique",

                  "major": 1

                }
      deprecated: false
  /networks/{networkId}/camera/qualityRetentionProfiles/{qualityRetentionProfileId}:
    delete:
      tags:
      - Camera quality retention profiles
      summary: deleteNetworkCameraQualityRetentionProfile
      description: Delete an existing quality retention profile for this network.
      operationId: deleteNetworkCameraQualityRetentionProfile
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: qualityRetentionProfileId
        in: path
        required: true
        style: simple
        schema:
          type: string
      responses:
        204:
          description: Successful operation
          headers: {}
      deprecated: false
    put:
      tags:
      - Camera quality retention profiles
      summary: updateNetworkCameraQualityRetentionProfile
      description: Update an existing quality retention profile for this network.
      operationId: updateNetworkCameraQualityRetentionProfile
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: qualityRetentionProfileId
        in: path
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateNetworkCameraQualityRetentionProfile'
            example: {}
        required: false
        x-send-file-in-body: false
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "id": "1234",

                    "networkId": "N_24329156",

                    "name": "Sample quality retention profile",

                    "restrictedBandwidthModeEnabled": true,

                    "motionBasedRetentionEnabled": false,

                    "audioRecordingEnabled": false,

                    "cloudArchiveEnabled": false,

                    "maxRetentionDays": 7,

                    "scheduleId": null,

                    "motionDetectorVersion": 2,

                    "videoSettings": {

                      "MV32": {

                        "quality": "Enhanced",

                        "resolution": "1080x1080"

                      },

                      "MV21/MV71": {

                        "quality": "High",

                        "resolution": "1280x720"

                      },

                      "MV12/MV22/MV72": {

                        "quality": "High",

                        "resolution": "1920x1080"

                      },

                      "MV12WE": {

                        "quality": "High",

                        "resolution": "1920x1080"

                      }

                    }

                  }
              example: >-
                {

                  "id": "1234",

                  "networkId": "N_24329156",

                  "name": "Sample quality retention profile",

                  "restrictedBandwidthModeEnabled": true,

                  "motionBasedRetentionEnabled": false,

                  "audioRecordingEnabled": false,

                  "cloudArchiveEnabled": false,

                  "maxRetentionDays": 7,

                  "scheduleId": null,

                  "motionDetectorVersion": 2,

                  "videoSettings": {

                    "MV32": {

                      "quality": "Enhanced",

                      "resolution": "1080x1080"

                    },

                    "MV21/MV71": {

                      "quality": "High",

                      "resolution": "1280x720"

                    },

                    "MV12/MV22/MV72": {

                      "quality": "High",

                      "resolution": "1920x1080"

                    },

                    "MV12WE": {

                      "quality": "High",

                      "resolution": "1920x1080"

                    }

                  }

                }
      deprecated: false
    get:
      tags:
      - Camera quality retention profiles
      summary: getNetworkCameraQualityRetentionProfile
      description: Retrieve a single quality retention profile
      operationId: getNetworkCameraQualityRetentionProfile
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: qualityRetentionProfileId
        in: path
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "id": "1234",

                    "networkId": "N_24329156",

                    "name": "Sample quality retention profile",

                    "restrictedBandwidthModeEnabled": true,

                    "motionBasedRetentionEnabled": false,

                    "audioRecordingEnabled": false,

                    "cloudArchiveEnabled": false,

                    "maxRetentionDays": 7,

                    "scheduleId": null,

                    "motionDetectorVersion": 2,

                    "videoSettings": {

                      "MV32": {

                        "quality": "Enhanced",

                        "resolution": "1080x1080"

                      },

                      "MV21/MV71": {

                        "quality": "High",

                        "resolution": "1280x720"

                      },

                      "MV12/MV22/MV72": {

                        "quality": "High",

                        "resolution": "1920x1080"

                      },

                      "MV12WE": {

                        "quality": "High",

                        "resolution": "1920x1080"

                      }

                    }

                  }
              example: >-
                {

                  "id": "1234",

                  "networkId": "N_24329156",

                  "name": "Sample quality retention profile",

                  "restrictedBandwidthModeEnabled": true,

                  "motionBasedRetentionEnabled": false,

                  "audioRecordingEnabled": false,

                  "cloudArchiveEnabled": false,

                  "maxRetentionDays": 7,

                  "scheduleId": null,

                  "motionDetectorVersion": 2,

                  "videoSettings": {

                    "MV32": {

                      "quality": "Enhanced",

                      "resolution": "1080x1080"

                    },

                    "MV21/MV71": {

                      "quality": "High",

                      "resolution": "1280x720"

                    },

                    "MV12/MV22/MV72": {

                      "quality": "High",

                      "resolution": "1920x1080"

                    },

                    "MV12WE": {

                      "quality": "High",

                      "resolution": "1920x1080"

                    }

                  }

                }
      deprecated: false
  /networks/{networkId}/camera/qualityRetentionProfiles:
    get:
      tags:
      - Camera quality retention profiles
      summary: getNetworkCameraQualityRetentionProfiles
      description: List the quality retention profiles for this network
      operationId: getNetworkCameraQualityRetentionProfiles
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  [

                    {

                      "id": "1234",

                      "networkId": "N_24329156",

                      "name": "Sample quality retention profile",

                      "restrictedBandwidthModeEnabled": true,

                      "motionBasedRetentionEnabled": false,

                      "audioRecordingEnabled": false,

                      "cloudArchiveEnabled": false,

                      "maxRetentionDays": 7,

                      "scheduleId": null,

                      "motionDetectorVersion": 2,

                      "videoSettings": {

                        "MV32": {

                          "quality": "Enhanced",

                          "resolution": "1080x1080"

                        },

                        "MV21/MV71": {

                          "quality": "High",

                          "resolution": "1280x720"

                        },

                        "MV12/MV22/MV72": {

                          "quality": "High",

                          "resolution": "1920x1080"

                        },

                        "MV12WE": {

                          "quality": "High",

                          "resolution": "1920x1080"

                        }

                      }

                    }

                  ]
              example: >-
                [

                  {

                    "id": "1234",

                    "networkId": "N_24329156",

                    "name": "Sample quality retention profile",

                    "restrictedBandwidthModeEnabled": true,

                    "motionBasedRetentionEnabled": false,

                    "audioRecordingEnabled": false,

                    "cloudArchiveEnabled": false,

                    "maxRetentionDays": 7,

                    "scheduleId": null,

                    "motionDetectorVersion": 2,

                    "videoSettings": {

                      "MV32": {

                        "quality": "Enhanced",

                        "resolution": "1080x1080"

                      },

                      "MV21/MV71": {

                        "quality": "High",

                        "resolution": "1280x720"

                      },

                      "MV12/MV22/MV72": {

                        "quality": "High",

                        "resolution": "1920x1080"

                      },

                      "MV12WE": {

                        "quality": "High",

                        "resolution": "1920x1080"

                      }

                    }

                  }

                ]
      deprecated: false
    post:
      tags:
      - Camera quality retention profiles
      summary: createNetworkCameraQualityRetentionProfile
      description: Creates new quality retention profile for this network.
      operationId: createNetworkCameraQualityRetentionProfile
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createNetworkCameraQualityRetentionProfile'
            example: {}
        required: true
        x-send-file-in-body: false
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "id": "1234",

                    "networkId": "N_24329156",

                    "name": "Sample quality retention profile",

                    "restrictedBandwidthModeEnabled": true,

                    "motionBasedRetentionEnabled": false,

                    "audioRecordingEnabled": false,

                    "cloudArchiveEnabled": false,

                    "maxRetentionDays": 7,

                    "scheduleId": null,

                    "motionDetectorVersion": 2,

                    "videoSettings": {

                      "MV32": {

                        "quality": "Enhanced",

                        "resolution": "1080x1080"

                      },

                      "MV21/MV71": {

                        "quality": "High",

                        "resolution": "1280x720"

                      },

                      "MV12/MV22/MV72": {

                        "quality": "High",

                        "resolution": "1920x1080"

                      },

                      "MV12WE": {

                        "quality": "High",

                        "resolution": "1920x1080"

                      }

                    }

                  }
              example: >-
                {

                  "id": "1234",

                  "networkId": "N_24329156",

                  "name": "Sample quality retention profile",

                  "restrictedBandwidthModeEnabled": true,

                  "motionBasedRetentionEnabled": false,

                  "audioRecordingEnabled": false,

                  "cloudArchiveEnabled": false,

                  "maxRetentionDays": 7,

                  "scheduleId": null,

                  "motionDetectorVersion": 2,

                  "videoSettings": {

                    "MV32": {

                      "quality": "Enhanced",

                      "resolution": "1080x1080"

                    },

                    "MV21/MV71": {

                      "quality": "High",

                      "resolution": "1280x720"

                    },

                    "MV12/MV22/MV72": {

                      "quality": "High",

                      "resolution": "1920x1080"

                    },

                    "MV12WE": {

                      "quality": "High",

                      "resolution": "1920x1080"

                    }

                  }

                }
      deprecated: false
  /networks/{networkId}/cameras/{serial}/videoLink:
    get:
      tags:
      - Cameras
      summary: getNetworkCameraVideoLink
      description: Returns video link to the specified camera. If a timestamp is supplied, it links to that timestamp.
      operationId: getNetworkCameraVideoLink
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: serial
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: timestamp
        in: query
        description: '[optional] The video link will start at this timestamp. The timestamp is in UNIX Epoch time (milliseconds). If no timestamp is specified, we will assume current time.'
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "url": "https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077"

                  }
              example: >-
                {

                  "url": "https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077"

                }
      deprecated: false
  /devices/{serial}/camera/qualityAndRetentionSettings:
    put:
      tags:
      - Cameras
      summary: updateDeviceCameraQualityAndRetentionSettings
      description: Update quality and retention settings for the given camera
      operationId: updateDeviceCameraQualityAndRetentionSettings
      parameters:
      - name: serial
        in: path
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceCameraQualityAndRetentionSettings'
            example:
              motionBasedRetentionEnabled: false
              audioRecordingEnabled: false
              restrictedBandwidthModeEnabled: false
              profileId: 
              quality: Standard
              resolution: 720
        required: false
        x-send-file-in-body: false
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "motionBasedRetentionEnabled": false,

                    "audioRecordingEnabled": false,

                    "restrictedBandwidthModeEnabled": false,

                    "profileId": null,

                    "quality": "Standard",

                    "resolution": 720

                  }
              example: >-
                {

                  "motionBasedRetentionEnabled": false,

                  "audioRecordingEnabled": false,

                  "restrictedBandwidthModeEnabled": false,

                  "profileId": null,

                  "quality": "Standard",

                  "resolution": 720

                }
      deprecated: false
    get:
      tags:
      - Cameras
      summary: getDeviceCameraQualityAndRetentionSettings
      description: Returns quality and retention settings for the given camera
      operationId: getDeviceCameraQualityAndRetentionSettings
      parameters:
      - name: serial
        in: path
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "motionBasedRetentionEnabled": false,

                    "audioRecordingEnabled": false,

                    "restrictedBandwidthModeEnabled": false,

                    "profileId": null,

                    "quality": "Standard",

                    "resolution": 720

                  }
              example: >-
                {

                  "motionBasedRetentionEnabled": false,

                  "audioRecordingEnabled": false,

                  "restrictedBandwidthModeEnabled": false,

                  "profileId": null,

                  "quality": "Standard",

                  "resolution": 720

                }
      deprecated: false
  /networks/{networkId}/cameras/{serial}/snapshot:
    post:
      tags:
      - Cameras
      summary: generateNetworkCameraSnapshot
      description: Generate a snapshot of what the camera sees at the specified time and return a link to that image.
      operationId: generateNetworkCameraSnapshot
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: serial
        in: path
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generateNetworkCameraSnapshot'
            example: {}
        required: false
        x-send-file-in-body: false
      responses:
        202:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "url": "https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2",

                    "expiry": "Access to the image will expire at 2018-12-11T03:12:39Z."

                  }
              example: >-
                {

                  "url": "https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2",

                  "expiry": "Access to the image will expire at 2018-12-11T03:12:39Z."

                }
      deprecated: false
  /networks/{networkId}/camera/schedules:
    get:
      tags:
      - Cameras
      summary: getNetworkCameraSchedules
      description: Returns a list of all camera recording schedules.
      operationId: getNetworkCameraSchedules
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  [

                    {

                      "id": "123",

                      "name": "Weekday schedule"

                    },

                    {

                      "id": "124",

                      "name": "Office hours"

                    }

                  ]
              example: >-
                [

                  {

                    "id": "123",

                    "name": "Weekday schedule"

                  },

                  {

                    "id": "124",

                    "name": "Office hours"

                  }

                ]
      deprecated: false
  /organizations/{organizationId}/configurationChanges:
    get:
      tags:
      - Change log
      summary: getOrganizationConfigurationChanges
      description: View the Change Log for your organization
      operationId: getOrganizationConfigurationChanges
      parameters:
      - name: organizationId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: t0
        in: query
        description: The beginning of the timespan for the data. The maximum lookback period is 365 days from today.
        style: form
        explode: true
        schema:
          type: string
      - name: t1
        in: query
        description: The end of the timespan for the data. t1 can be a maximum of 365 days after t0.
        style: form
        explode: true
        schema:
          type: string
      - name: timespan
        in: query
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 365 days. The default is 365 days.
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: perPage
        in: query
        description: The number of entries per page returned. Acceptable range is 3 - 5000. Default is 5000.
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: startingAfter
        in: query
        description: A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        style: form
        explode: true
        schema:
          type: string
      - name: endingBefore
        in: query
        description: A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        style: form
        explode: true
        schema:
          type: string
      - name: networkId
        in: query
        description: Filters on the given network
        style: form
        explode: true
        schema:
          type: string
      - name: adminId
        in: query
        description: Filters on the given Admin
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  [

                    {

                      "ts": "2018-02-11T00:00:00.090210Z",

                      "adminName": "Miles Meraki",

                      "adminEmail": "miles@meraki.com",

                      "adminId": "212406",

                      "page": "via API",

                      "label": "PUT /api/v1/organizations/2930418",

                      "oldValue": "{\"id\":\"2930418\",\"name\":\"My organization\",\"url\":\"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\"}",

                      "newValue": "{\"id\":\"2930418\",\"name\":\"My organization changed\",\"url\":\"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\"}"

                    }

                  ]
              example: >-
                [

                  {

                    "ts": "2018-02-11T00:00:00.090210Z",

                    "adminName": "Miles Meraki",

                    "adminEmail": "miles@meraki.com",

                    "adminId": "212406",

                    "page": "via API",

                    "label": "PUT /api/v1/organizations/2930418",

                    "oldValue": "{\"id\":\"2930418\",\"name\":\"My organization\",\"url\":\"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\"}",

                    "newValue": "{\"id\":\"2930418\",\"name\":\"My organization changed\",\"url\":\"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\"}"

                  }

                ]
      deprecated: false
  /networks/{networkId}/clients/{clientId}/splashAuthorizationStatus:
    get:
      tags:
      - Clients
      summary: getNetworkClientSplashAuthorizationStatus
      description: Return the splash authorization for a client, for each SSID they've associated with through splash. Only enabled SSIDs with Click-through splash enabled will be included. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.
      operationId: getNetworkClientSplashAuthorizationStatus
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "ssids": {

                      "0": {

                        "isAuthorized": true,

                        "authorizedAt": "2017-07-19 16:24:13 UTC",

                        "expiresAt": "2017-07-20 16:24:13 UTC"

                      },

                      "2": {

                        "isAuthorized": false

                      }

                    }

                  }
              example: >-
                {

                  "ssids": {

                    "0": {

                      "isAuthorized": true,

                      "authorizedAt": "2017-07-19 16:24:13 UTC",

                      "expiresAt": "2017-07-20 16:24:13 UTC"

                    },

                    "2": {

                      "isAuthorized": false

                    }

                  }

                }
      deprecated: false
    put:
      tags:
      - Clients
      summary: updateNetworkClientSplashAuthorizationStatus
      description: Update a client's splash authorization. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.
      operationId: updateNetworkClientSplashAuthorizationStatus
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateNetworkClientSplashAuthorizationStatus'
            example:
              ssids:
                0:
                  isAuthorized: true
                2:
                  isAuthorized: false
        required: true
        x-send-file-in-body: false
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "ssids": {

                      "0": {

                        "isAuthorized": true,

                        "authorizedAt": "2017-07-19 16:24:13 UTC",

                        "expiresAt": "2017-07-20 16:24:13 UTC"

                      },

                      "2": {

                        "isAuthorized": false

                      }

                    }

                  }
              example: >-
                {

                  "ssids": {

                    "0": {

                      "isAuthorized": true,

                      "authorizedAt": "2017-07-19 16:24:13 UTC",

                      "expiresAt": "2017-07-20 16:24:13 UTC"

                    },

                    "2": {

                      "isAuthorized": false

                    }

                  }

                }
      deprecated: false
  /networks/{networkId}/clients/{clientId}:
    get:
      tags:
      - Clients
      summary: getNetworkClient
      description: Return the client associated with the given identifier. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.
      operationId: getNetworkClient
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "id": "k74272e",

                    "description": "Miles's phone",

                    "mac": "22:33:44:55:66:77",

                    "ip": "1.2.3.4",

                    "user": "null",

                    "vlan": "255",

                    "switchport": null,

                    "ip6": "",

                    "firstSeen": 1518365681,

                    "lastSeen": 1526087474,

                    "manufacturer": "Apple",

                    "os": "iOS",

                    "ssid": "My SSID",

                    "wirelessCapabilities": "802.11ac - 2.4 and 5 GHz",

                    "smInstalled": true,

                    "recentDeviceMac": "00:11:22:33:44:55",

                    "clientVpnConnections": [

                      {

                        "remoteIp": "1.2.3.4",

                        "connectedAt": 1522613355,

                        "disconnectedAt": 1522613360

                      }

                    ],

                    "lldp": [

                      [

                        "System name",

                        "Some system name"

                      ],

                      [

                        "System description",

                        "Some system description"

                      ],

                      [

                        "Port ID",

                        "1"

                      ],

                      [

                        "Chassis ID",

                        "00:18:0a:00:00:00"

                      ],

                      [

                        "Port description",

                        "eth0"

                      ],

                      [

                        "System capabilities",

                        "Two-port MAC Relay"

                      ]

                    ],

                    "cdp": null,

                    "status": "Online"

                  }
              example: >-
                {

                  "id": "k74272e",

                  "description": "Miles's phone",

                  "mac": "22:33:44:55:66:77",

                  "ip": "1.2.3.4",

                  "user": "null",

                  "vlan": "255",

                  "switchport": null,

                  "ip6": "",

                  "firstSeen": 1518365681,

                  "lastSeen": 1526087474,

                  "manufacturer": "Apple",

                  "os": "iOS",

                  "ssid": "My SSID",

                  "wirelessCapabilities": "802.11ac - 2.4 and 5 GHz",

                  "smInstalled": true,

                  "recentDeviceMac": "00:11:22:33:44:55",

                  "clientVpnConnections": [

                    {

                      "remoteIp": "1.2.3.4",

                      "connectedAt": 1522613355,

                      "disconnectedAt": 1522613360

                    }

                  ],

                  "lldp": [

                    [

                      "System name",

                      "Some system name"

                    ],

                    [

                      "System description",

                      "Some system description"

                    ],

                    [

                      "Port ID",

                      "1"

                    ],

                    [

                      "Chassis ID",

                      "00:18:0a:00:00:00"

                    ],

                    [

                      "Port description",

                      "eth0"

                    ],

                    [

                      "System capabilities",

                      "Two-port MAC Relay"

                    ]

                  ],

                  "cdp": null,

                  "status": "Online"

                }
      deprecated: false
  /networks/{networkId}/clients/{clientId}/usageHistory:
    get:
      tags:
      - Clients
      summary: getNetworkClientUsageHistory
      description: Return the client's daily usage history. Usage data is in kilobytes. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.
      operationId: getNetworkClientUsageHistory
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  [

                    {

                      "sent": 500,

                      "received": 680,

                      "ts": 1518365681

                    }

                  ]
              example: >-
                [

                  {

                    "sent": 500,

                    "received": 680,

                    "ts": 1518365681

                  }

                ]
      deprecated: false
  /devices/{serial}/clients:
    get:
      tags:
      - Clients
      summary: getDeviceClients
      description: List the clients of a device, up to a maximum of a month ago. The usage of each client is returned in kilobytes. If the device is a switch, the switchport is returned; otherwise the switchport field is null.
      operationId: getDeviceClients
      parameters:
      - name: serial
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: t0
        in: query
        description: The beginning of the timespan for the data. The maximum lookback period is 31 days from today.
        style: form
        explode: true
        schema:
          type: string
      - name: timespan
        in: query
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.
        style: form
        explode: true
        schema:
          type: number
          format: double
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  [

                    {

                      "usage": {

                        "sent": 138.0,

                        "recv": 61.0

                      },

                      "id": "k74272e",

                      "description": "Miles's phone",

                      "mac": "22:33:44:55:66:77",

                      "ip": "1.2.3.4",

                      "user": "milesmeraki",

                      "vlan": 255,

                      "switchport": null,

                      "mdnsName": "Miles's phone",

                      "dhcpHostname": "MilesPhone"

                    }

                  ]
              example: >-
                [

                  {

                    "usage": {

                      "sent": 138.0,

                      "recv": 61.0

                    },

                    "id": "k74272e",

                    "description": "Miles's phone",

                    "mac": "22:33:44:55:66:77",

                    "ip": "1.2.3.4",

                    "user": "milesmeraki",

                    "vlan": 255,

                    "switchport": null,

                    "mdnsName": "Miles's phone",

                    "dhcpHostname": "MilesPhone"

                  }

                ]
      deprecated: false
  /networks/{networkId}/clients/{clientId}/events:
    get:
      tags:
      - Clients
      summary: getNetworkClientEvents
      description: Return the events associated with this client. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.
      operationId: getNetworkClientEvents
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: perPage
        in: query
        description: The number of entries per page returned. Acceptable range is 3 - 100. Default is 100.
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: startingAfter
        in: query
        description: A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        style: form
        explode: true
        schema:
          type: string
      - name: endingBefore
        in: query
        description: A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  [

                    {

                      "deviceSerial": "Q234-ABCD-5678",

                      "occurredAt": 1518365681,

                      "type": "l3roaming_assoc_start",

                      "details": {

                        "vap": "1",

                        "on_packet": "true"

                      }

                    }

                  ]
              example: >-
                [

                  {

                    "deviceSerial": "Q234-ABCD-5678",

                    "occurredAt": 1518365681,

                    "type": "l3roaming_assoc_start",

                    "details": {

                      "vap": "1",

                      "on_packet": "true"

                    }

                  }

                ]
      deprecated: false
  /networks/{networkId}/clients/{clientId}/policy:
    put:
      tags:
      - Clients
      summary: updateNetworkClientPolicy
      description: Update the policy assigned to a client on the network. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.
      operationId: updateNetworkClientPolicy
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateNetworkClientPolicy'
            example:
              mac: 00:11:22:33:44:55
              type: Group policy
              groupPolicyId: 101
        required: true
        x-send-file-in-body: false
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "mac": "00:11:22:33:44:55",

                    "type": "Group policy",

                    "groupPolicyId": "101"

                  }
              example: >-
                {

                  "mac": "00:11:22:33:44:55",

                  "type": "Group policy",

                  "groupPolicyId": "101"

                }
      deprecated: false
    get:
      tags:
      - Clients
      summary: getNetworkClientPolicy
      description: Return the policy assigned to a client on the network. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.
      operationId: getNetworkClientPolicy
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "mac": "00:11:22:33:44:55",

                    "type": "Group policy",

                    "groupPolicyId": "101"

                  }
              example: >-
                {

                  "mac": "00:11:22:33:44:55",

                  "type": "Group policy",

                  "groupPolicyId": "101"

                }
      deprecated: false
  /networks/{networkId}/clients/provision:
    post:
      tags:
      - Clients
      summary: provisionNetworkClients
      description: Provisions a client with a name and policy. Clients can be provisioned before they associate to the network.
      operationId: provisionNetworkClients
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/provisionNetworkClients'
            example:
              mac: 00:11:22:33:44:55
              name: Miles's phone
              devicePolicy: Group policy
              groupPolicyId: 101
        required: true
        x-send-file-in-body: false
      responses:
        201:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  {

                    "mac": "00:11:22:33:44:55",

                    "clientId": "k74272e",

                    "name": "Miles's phone",

                    "devicePolicy": "Group policy",

                    "groupPolicyId": "101"

                  }
              example: >-
                {

                  "mac": "00:11:22:33:44:55",

                  "clientId": "k74272e",

                  "name": "Miles's phone",

                  "devicePolicy": "Group policy",

                  "groupPolicyId": "101"

                }
      deprecated: false
  /networks/{networkId}/clients/{clientId}/latencyHistory:
    get:
      tags:
      - Clients
      summary: getNetworkClientLatencyHistory
      description: 'Return the latency history for a client. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP. The latency data is from a sample of 2% of packets and is grouped into 4 traffic categories: background, best effort, video, voice. Within these categories the sampled packet counters are bucketed by latency in milliseconds.'
      operationId: getNetworkClientLatencyHistory
      parameters:
      - name: networkId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        style: simple
        schema:
          type: string
      - name: t0
        in: query
        description: The beginning of the timespan for the data. The maximum lookback period is 791 days from today.
        style: form
        explode: true
        schema:
          type: string
      - name: t1
        in: query
        description: The end of the timespan for the data. t1 can be a maximum of 791 days after t0.
        style: form
        explode: true
        schema:
          type: string
      - name: timespan
        in: query
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 791 days. The default is 1 day.
        style: form
        explode: true
        schema:
          type: number
          format: double
          example: 7200
      - name: resolution
        in: query
        description: 'The time resolution in seconds for returned data. The valid resolutions are: 86400. The default is 86400.'
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: >-
                  [

                    {

                      "t0": 1550534400,

                      "t1": 1550620800,

                      "latencyBinsByCategory": {

                        "backgroundTraffic": {

                          "0.5": 41750,

                          "1.0": 21552,

                          "2.0": 59940,

                          "4.0": 146622,

                          "8.0": 57354,

                          "16.0": 0,

                          "32.0": 9954,

                          "64.0": 0,

                          "128.0": 0,

                          "256.0": 1896,

                          "512.0": 0,

                          "1024.0": 0,

                          "2048.0": 0

                        },

                        "bestEffortTraffic": {

                          "0.5": 1840899,

                          "1.0": 1644506,

                          "2.0": 629958,

                          "4.0": 449564,

                          "8.0": 2009658,

                          "16.0": 1329568,

                          "32.0": 282168,

                          "64.0": 97573,

                          "128.0": 191977,

                          "256.0": 30560,

                          "512.0": 26032,

                          "1024.0": 4943,

                          "2048.0": 12072

                        },

                        "videoTraffic": {

                          "0.5": 0,

                          "1.0": 0,

                          "2.0": 0,

                          "4.0": 0,

                          "8.0": 0,

                          "16.0": 0,

                          "32.0": 0,

                          "64.0": 0,

                          "128.0": 0,

                          "256.0": 0,

                          "512.0": 0,

                          "1024.0": 0,

                          "2048.0": 0

                        },

                        "voiceTraffic": {

                          "0.5": 716,

                          "1.0": 948,

                          "2.0": 474,

                          "4.0": 78,

                          "8.0": 0,

                          "16.0": 0,

                          "32.0": 0,

                          "64.0": 0,

                          "128.0": 0,

                          "256.0": 0,

                          "512.0": 0,

                          "1024.0": 0,

                          "2048.0": 0

                        }

                      }

                    }

                  ]
              example: >-
                [

                  {

                    "t0": 1550534400,

                    "t1": 1550620800,

                    "latencyBinsByCategory": {

                      "backgroundTraffic": {

                        "0.5": 41750,

                        "1.0": 21552,

                        "2.0": 59940,

                        "4.0": 146622,

                        "8.0": 57354,

                        "16.0": 0,

[...]
